nav {
  height: 50px;
  width: 80vw;
  margin-top: 10px;
  padding: 18px;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(217, 238, 244);
  border-radius: 30px;
  transition: width 0.3s ease; // smooth width transition
  /* optional: for smoother effect */
  // transition: width 0.3s ease, padding 0.3s ease;

  &.scrolled {
    margin-top: 0;
    width: 100%;
  }

  .logoName {
    font-size: 25px;
  }

  ul {
    display: none;
    flex-direction: row;
    list-style: none;

    @include lg {
      display: flex;
    }

    li {
      font-size: 20px;
      margin: 0 20px;
      text-decoration: none;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-items: center;

    .btn {
      @include button-styles;
      display: none;

      @include md {
        display: flex;
      }
    }

    .fa-bars {
      display: flex;
      font-size: 25px;

      @include lg {
        display: none;
      }
    }
  }
}
