.Section-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: aqua;

  @include md {
    flex-direction: row;
    height: 90vh;
  }

  .left-container {
    width: 100%;
    height: 400px;
    background-color: blue;

    @include md {
      width: 50%;
      flex-direction: row;
    }
    ß iframe {
      width: 100%;
      height: 100%;
    }
  }

  .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;

    @include md {
      width: 50%;
      height: 400px;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      .container-1 {
        display: flex;
        flex-direction: row;

        @include md {
          width: 50%;
          flex-direction: row;
        }
      }
    }
  }
}
